body {
  color: $textColor;
  min-width: 320px;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $baseFontFamily;
}

a {
  color: $linkColor;
  &:hover { color: #333; }
}

.container {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 20px;
}

#header {
  background: transparent url(/images/head-bg.png) repeat-x;
  height: 55px;
  text-align: left;

  .logo {
    background: transparent url(/images/blog-sprite.png) no-repeat 0 -160px;
    width: 220px;
    height: 40px;
    text-indent: -999em;
    display: inline-block;
    margin-top: 5px;
  }

  .top-nav {
    float: right;

    li {
      display: inline-block;
      margin: 17px 0 0 10px;

      a {
        color: #C8EBFF;
        font-size: 13px;
        padding: 4px 15px;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.1);
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  margin-top: 30px;
}

.pager {
  
}

#footer {
  clear: both;
  margin-top: 50px;
  background-color: #036;
  background-color: rgba(0, 51, 102, 0.9);
  border-top: 1px solid #fff;
  padding: 10px 0 15px;
  width: 100%;
  font-size: 13px;
  -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4);
  
  h5 {
    color: #577A9C;
    font-size: 12px;
    text-transform: uppercase;
    margin: 8px 0;
  }
  a {
    color: #3e8ab1;
    &:hover {
      color: #c8ebff;
      text-decoration: none;
    }
  }
  
  #blog-info {
    color: #f2f2f2;
    .block {
      padding-left: 10%;
      width: 20%;
      float: left;
      &.about {
        padding-left: 0;
        width: 40%;
      }
    }
    ul { 
      list-style: none; 
      margin: 0;
      li { margin: 2px 0;}
      a { display: inline-block; line-height: 20px; }
    }
  }
  
  .footer-nav {
    float: left;
    margin: 0;
    li {
      list-style: none;
      display: block;
      float: left;
      margin-right: 15px;
      color: #eaeaea;
    }
  }
  
  .contribs {
    img { border-radius: 3px; margin-right: 5px;}
  }
  .social-buttons {
    list-style: none;
    li {
      a {
        padding-left: 30px;
        background: transparent url(/images/blog-sprite.png) no-repeat 0 0;
        &.social-twitter {           
          background-position: 0 -40px;
        }                         
        &.social-facebook {           
          background-position: 0 -80px;
        }                             
        &.social-google {             
          background-position: 0 -120px;
        }
        &:hover {
          &.social-rss { background-position: 0 -20px; }
          &.social-twitter { background-position: 0 -60px; }
          &.social-facebook { background-position: 0 -100px; }
          &.social-google { background-position: 0 -140px; }
        }
      }
    }
  }
  .copy { color: #577A9C; }
}

// self-clear floats

#footer #blog-info:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
