.main {
  .post {
    font-size: 16px;
    line-height: 1.8;
    margin: 0 0 2.8em 0;
    padding: 0 0 1em 20%;
    border-bottom: 1px solid #dfdfdf;

    aside {
      float: left;
      width: 20%;
      margin: 0 0 0 -25%;
      font-size: .85em;
      color: #999;
    }
    .meta {
      list-style: none;
      font-size: 13px;
      margin: 0;
      li { line-height: 24px; }
      .author-photo img {
        border-radius: 50%;
        max-width: 80px;
        margin-bottom: 8px;
      }
      .author { font-size: 13px; }
      .date { letter-spacing: 1px; }
      a {
        color: #999;
        &:hover { color: #666; }
      }
      .tags {
        a {
          display: inline-block;
          padding: 0 8px;
          margin-right: 5px;
          color: #fff;
          background-color: #999;
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          text-decoration: none;
          &:hover {
            background-color: #000;
            background-color: rgba(0, 0, 0, 1);
          }
        }
      }
      .back-link {
        margin: 10px auto;
        a {
          padding: 4px;
          text-decoration: none;
          &:hover {
            color: #000;
          }
        }
      }
    }

    .title {
      font-size: 1.7em;
      line-height: 1.3;
      margin-bottom: 1em;
      a:hover { text-decoration: none; }
    }
    .content {
      h1, h2, h3, h4, h5, h6 { line-height: 1.5;}
      h1, h2 { font-size: 1.5em; } // ~24px
      h3 { font-size: 1.3em; } // ~21px
      h4 { font-size: 1.1em; } // ~18px
      h5 { font-size: 1em; }  // ~16px
      h6 { font-size: .85px; } // ~13px
      p { margin: 0 40px 1.5em 0; }
      img { margin: 1em auto; max-width: 100%; }
      ul, ol {
        li { margin-bottom: 12px; }
        ul, ol {
          li { margin-bottom: 12px; font-size: .85em; line-height: 1.5em; }
        }
      }
      pre { color: #666; }
      table {
        width: 90%;
        margin: 0 0 1.5em 25px;
        th { background-color: #EAF2F7; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; font-size: .8em; }
      }
    }

    &.single {
      .title {
        font-size: 2em;
        a { color: #444; }
      }
    }
  }
  .tag-page-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    color: #999;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #dfdfdf;
    em {
      color: orange;
      font-weight: bold;
    }
  }
}

.share {
  text-align: right;
}
.share .fb-like iframe {
  top: -3px;
}
.share .fb-like > span,
.share .twitter-share-button {
  width: 85px !important;
}