@media print, screen and (max-width: 800px) {
  .main .post { padding-left: 0; font-size: 14px; }
  .main .post .title { margin-bottom: .5em; }
  .main .post aside {
		float: none;
		width: auto;
		margin: 0 0 1.6em 0;
		.meta li {
  		display: inline;
  		margin: 0 5px 0 0;
  	}
  	.meta li:after {
  		content: "\00A0\00A0\00B7\00A0\00A0";
  	}
  	.meta li:last-child:after {	
  		content: "";
  	}
  	.meta .date { font-size: 12px; }
	}
	.main .post .content p, .main .post .content ul { margin-right: 0; }
}

@media print, screen and (max-width: 540px) {
  body { font-size: 14px; line-height: 20px; }
  .container { padding: 0 10px; }
  #header .top-nav { display: none; }
  #footer #blog-info .block {
    float: none;
    padding: 0;
    margin-bottom: 10px;
    width: auto !important;
  }
  #footer .copy { margin-top: 20px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#header .logo,
	#footer .social-buttons li a {
		background-image: url(/images/blog-sprite@2x.png);
		-webkit-background-size: 250px 200px;
		-moz-background-size: 250px 200px;
		background-size: 250px 200px;
	}
}